@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');

:root{
	--mint: #69DC9E;
	--red: #F46036;
	--blue: #5386E4;
	--light: #fff;
	--lightbase: #F2F6FC;
	--dark: #2C4167;
	--darkest: #1C2C48;

	--light-shadow: 0px 0px 10px #dbdfe5;
	--dark-shadow: 0px 0px 10px #142036;

	--base: var(--lightbase);
	--baselighter: var(--light);

	--text: var(--dark);

	--base-shadow: var(--light-shadow);

	--font: 'Poppins', sans-serif;

	--cb: cubic-bezier(.42,0,0,2.1);

	@media (prefers-color-scheme: dark){
		--base: var(--darkest);
		--baselighter: var(--dark);

		--text: var(--light);

		--base-shadow: var(--dark-shadow);
	}
}

.light{
	--base: var(--lightbase);
	--baselighter: var(--light);

	--text: var(--dark);

	--base-shadow: var(--light-shadow);
}

.dark{
	--base: var(--darkest);
	--baselighter: var(--dark);

	--text: var(--lightbase);

	--base-shadow: var(--dark-shadow);
}


html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
	font-family: var(--font);
}

body{
	margin: 0;
	background: var(--base);
	color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
	transition: all 300ms;
}

input, button{
	font-family: var(--font);
	border: none;
	outline: none;
	-webkit-appearance: none;
}

button{ cursor: pointer; }

.wrap{
	max-width: 1440px;
	margin: 0 auto;

	@media screen and (max-width: 1460px) {
		padding: 0 10px;
	}
}